@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <h2>
        В процессе выполнения операции возникла ошибка, повторите последнее действие. 
        Если ошибка будет повторяться - обратитесь а администратору!
    </h2>
</body>
</html>