@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Подтверждено</title>
</head>
<body>
    <h2>
        Пароль был изменен! Проверьте вашу почту.
    </h2>
</body>
</html>